@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: filter 5s ease-in-out;
  transition: position 3s ease-in-out;
  transition: box-shadow 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;

  /* outline: 1px solid rgba(0, 255, 17, 0.496); */
}

.smooth-scrolling {
  scroll-behavior: smooth;
}

.palette-gradient {
  background: rgb(75, 230, 201);
  background: linear-gradient(
    324deg,
    rgba(75, 230, 201, 1) 0%,
    rgba(253, 115, 130, 1) 50%,
    rgba(124, 73, 233, 1) 100%
  );
}

.to-transparent-bg {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(38, 44, 61, 0) 14%,
    rgba(5, 11, 31, 1) 15%,
    rgba(5, 11, 31, 1) 100%
  );
}

@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Light.ttf") format("woff");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Medium.ttf") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-SemiBold.ttf") format("woff");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Black.ttf") format("woff");
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos";
  src: url("./fonts/TiemposHeadlineTest-Regular.otf") format("woff");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("./fonts/TiemposHeadlineTest-Medium.otf") format("woff");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("./fonts/TiemposHeadlineTest-Bold.otf") format("woff");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Tiempos";
  src: url("./fonts/TiemposHeadlineTest-Black.otf") format("woff");
  font-weight: 900;
  font-display: swap;
}

/* body {
  background-color: #f8f8f8;
} */
